
doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='../../styles/style.css')
    script(type='module' src='../../scripts/user.js')
    title User
  body
    nav#main-nav
      ul
        li
          a(href='/' id='home') Home
        li
          a(href='/home/me') Profile
    main
      h1 #{p.username}
      p Hi i'm #{name} and I'm from #{p.region}.
      p Bio: #{p.bio}
      img(src=p.pfp)
      hr
    
      mixin post-list(post)
        div
          h1
            a(href=`../posts/${post.post_id}`) #{post.species}
          p #{post.location}, #{post.date}
          p Confidence rating of: #{post.rating}/10 (#{post.votes} votes)
          img(src=post.img_url)
          p= post.caption
      
      for each in po
        +post-list(each)
