extends layout

block content
  mixin post-list(post)
    div
      h1= post.species
      p #{post.location}, #{post.date}
      p Confidence rating of: #{post.rating}/10 (#{post.votes} votes)
      img(src=post.img_url)
      p= post.caption

  for each in all
    +post-list(each)