doctype html
html
  head
    title= title
    link(rel='stylesheet' href='../../styles/style.css')
    script(type='module' src='../../scripts/rate.js')
  body
    nav#main-nav
      ul
        li
          a(href='/' id='home') Home
        li
          a(href='/home/me') Profile
    main
      h1 #{species}
      a(href=`../profiles/${id}`) #{username}
      p #{location}, #{date}
      p Confidence rating of: #{rating}/10 (#{votes} votes)
      img(src=img_url)
      p #{caption}
      form#rating
        label(for='rating') Rate
        input#rating(type='number' name='rating' min="1" max="10" required)
        button(type='submit') Rate Post ##{post_id}