
doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='./styles/style.css')
    script(type='module' src='./scripts/user.js')
    title User
  body
    nav#main-nav
    main
      h1 #{p.username}
      p Welcome #{name} from #{p.region}.
      p Bio: #{p.bio}
      img(src=p.pfp)
      p#rename Update Username
      form#username-form(aria-labelledby='rename')
        label(for='username') Username:
        input#username-input(type='text' name='username')
        button(type='submit') Update Username
      hr
      form#logout-form(aria-label='logout')
        button(type='submit') Log Out
    
      mixin post-list(post)
        div
          h1= post.species
          p #{post.location}, #{post.date}
          p Confidence rating of: #{post.rating}/10 (#{post.votes} votes)
          img(src=post.img_url)
          p= post.caption
      
      for each in po
        +post-list(each)
